/* Default styles */
.register {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 700px; /* Adjust the max width as needed */
    width: 100%; /* Ensure container takes full width */
}

h1 {
    font-size: 24px;
    color: #e63946;
}

form {
    margin-top: 11px;
}

table {
    width: 100%;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ffcb05;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #f2b807;
}

/* Message styles */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    color: #333;
    background-color: #ffcb05;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0;
    font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .register-container {
        max-width: 90%; /* Adjust the max width for smaller screens */
    }
}
